{#
/**
 * @file
 * The datetime-range-timezone template.
 *
 * @see \Drupal\datetime_range_timezone\Plugin\Field\FieldFormatter\DateRangeTimezone::viewElements()
 */
#}
<div class='daterange'>
  <span class='daterange__date daterange__start-date'><time datetime="{{ iso_start_date }}">{{ start_date }}</time></span>

  {% if separator is not empty %}
    <span class='daterange__separator'>{{ separator }}</span>
  {% endif %}

  {% if end_date is not empty %}
    <span class='daterange__date daterange__end-date'><time datetime="{{ iso_end_date }}">{{ end_date }}</time></span>
  {% endif %}

  {% if timezone %}
    <span class='daterange__timezone'>{{ timezone }}</span>
  {% endif %}
</div>
